<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <table align="center">
        <tr>
            <td>
                <button th:href="@{/compound/calculate}">Compound Interest</button>
            </td>
        </tr>

        <tr>
            <td>
                <button th:href="@{/compound/calculate}">Simple Interest</button>
            </td>
        </tr>
    </table>

</body>
</html>
